header {
    position: fixed;
    z-index: 3;
    background-color:#F9D0A3;
}

#navbarSupportedContent {
    justify-content: end;
}

.header-icon {
    width: 60%;
}

.nav-link {
    font-size: larger;
}