<div class="py-25">
  <section class="container mx-auto px-10 my-10 text-3xl my-10">
    <h1 class="text-center">À propos de nous</h1>

    <p class="my-6">
        Nous sommes une entreprise mettant tout en oeuvre afin de proposer la vente de figurines faites main des héros iconique des histoires d'Astérix et Obélix.
    </p>
    <p>
    Forts de notre dizaine d'années d'expériences nous nous efforçons de proposer des figurines uniques et fidèles à l'oeuvre originale.
    </p>

    <img src="/assets/images/about_team.png"  class="mt-20" alt="image présentant l'équipe d'artisans confectionnant les figurines.">
  </section>
</div>