<footer class="p-6 w-full">
    <div class="flex flex-col md:flex-row gap-4 md:justify-evenly">
        <section class="p-4 flex-1 flex flex-col md:text-center">
            <h1 class="mb-4">Au petit village</h1>
            <p>Rue de la Paix, Paris</p>
            <a href="tel:+33101010101" class="font-numbers">01 01 01 01 01</a>
            <a href="mailto:aupetitvillage@gmail.com" class="underline">Nous envoyer un mail</a>
        </section>
        <section class="p-4 flex-1 flex flex-col md:text-center">
            <h1 class="mb-4">Liens utiles</h1>
            <a [routerLink]="['']" routerLinkActive="router-link-active" >Accueil</a>
            <a [routerLink]="['/about']">À propos</a>
        </section>
        <section class="p-4 flex-1 md:text-center">
            <h1 class="mb-4">Réseaux sociaux</h1>
            <div class="flex md:justify-center items-center gap-4">
                <a href="https://github.com/"><img src="/assets/images/github_icon.png" alt="Icone de Github" class="h-10 w-auto"></a>
                <a href="https://fr.linkedin.com/"><img src="/assets/images/linkedin_icon.png" alt="Icone de Linkedin" class="h-10 w-auto"></a>
                <a href="https://x.com/"><img src="/assets/images/twitter_icon.png" alt="Icone de Twitter" class="h-10 w-auto"></a>
            </div>
        </section>
    </div>
</footer>