<div class="py-25">
  <section class="container mx-auto px-10 my-10 text-3xl my-10">
    <h1 class="text-5xl font-bold mb-10 text-center">Erreur 404</h1>
    <div class="bg-white shadow-lg p-4 rounded-lg flex flex-col lg:flex-row justify-evenly items-center px-20 gap-y-8 py-8">
        <a [routerLink]="['']" routerLinkActive="router-link-active"  class="my-6">
        Cette page n'existe pas. Cliquez <u>ici</u> ou sur le logo de l'entreprise pour revenir à l'accueil !
        </a>
        <img src="/assets/images/Romains.png"  class=" m-6 w-full h-auto" alt="image présentant l'équipe d'artisans confectionnant les figurines.">
    </div>
  </section>
</div>